
@model Tecnico
<h2>Editar - Técnico</h2>

<form asp-controller="Tecnico" asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" placeholder="Nome" />
        <span asp-validation-for="Nome"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="E-Mail" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Senha"></label>
        <input asp-for="Senha" class="form-control" placeholder="Senha" />
        <span asp-validation-for="Senha"></span>
    </div>
    <div class="form-group">
        <label>Endereço</label>
        <input asp-for="Endereco" class="form-control" placeholder="Endereço" />
        <span asp-validation-for="Endereco"></span>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <label asp-for="CPF_CNPJ"></label>
                <input asp-for="CPF_CNPJ" class="form-control" placeholder="CPF/CNPJ">
                <span asp-validation-for="CPF_CNPJ"></span>
            </div>
            <div class="col">
                <label asp-for="Telefone"></label>
                <input asp-for="Telefone" class="form-control" placeholder="Telefone">
                <span asp-validation-for="Telefone"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <label asp-for="Salario"></label>
                <input asp-for="Salario" class="form-control" placeholder="Salario">
                <span asp-validation-for="Salario"></span>
            </div>
            <div class="col">
                <label asp-for="Comissao"></label>
                <input asp-for="Comissao" class="form-control" placeholder="Comissão">
                <span asp-validation-for="Comissao"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input asp-for="Status" class="form-check-input" type="radio" name="status" id="inlineCheckbox1" value="1">
            <span asp-validation-for="Status">Ativo</span>
        </div>
        <div class="form-check form-check-inline">
            <input asp-for="Status" class="form-check-input" type="radio" name="status" id="inlineCheckbox1" value="2">
            <span asp-validation-for="Status">Inativo</span>
        </div>
    </div>
    <button class="btn btn-primary ">Salvar</button>
</form>